@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/style")

    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function () {


            $("#u_selector option").remove();

            $.getJSON("/Admin/GetId", function (data) {

                $("#u_selector").append('<option>-Select Id-</option>');
                $.each(data, function (i, item) {
                    //alert(item.Id);
                    $("#u_selector").append('<option>' + item.Id + '</option>');
                });
            });
        });

        $(document).ready(function () {

            $("#u_selector").change(function () {
                var id = $("#u_selector").val();

                $.getJSON("/Admin/GetData?Id=" + id, function (data) {

                    $("#quest").val(data.Question);
                    $("#Copt").val(data.CorrectOption);
                    $("#opt2").val(data.OptionB);
                    $("#opt3").val(data.OptionC);
                    $("#opt4").val(data.OptionD);
                    $("#cat_dropdown").val(data.Subject);
                });
            });
        });

    </script>

</head>
<body>
    <div id="welcome">
        <h1><a href="#">Welcome To Quiz Mania</a></h1>
    </div><br />



    <div id="menubar_container">
        <div id="menubar">

            <div id="menu_items">
                <ul id="menu">
                    <li><a href="index">Home</a></li>
                    <li class="current"><a href="quiz">Manage Quiz</a></li>
                    <li><a href="student">Manage Student</a></li>
                    <li><a href="/Home/index">Log-out</a></li>
                </ul>
            </div><!--close menu_Items-->

        </div><!--close menubar-->
    </div><!--close menubar_container-->

    <div id="slogan_container">
        <div id="slogan">
            <h2>Do you think you are intelligent??? Lets See !!!</h2>
        </div><!--close slogan-->
    </div><!--close slogan_container-->

    <div id="site_content">
        <div class="sidebar_container">

            <div class="sidebar">
                <div class="sidebar_item">
                    <a href="aquiz">Add Quiz</a>
                    <p>Click here to add a new Quiz</p>
                </div><!--close sidebar_item-->
            </div><!--close sidebar-->

            <div class="sidebar">
                <div class="sidebar_item">
                    <a href="dquiz">Delete Quiz</a>
                    <p>Click here to delete a Quiz</p>
                </div><!--close sidebar_item-->
            </div><!--close sidebar-->

            <div class="sidebar">
                <div class="sidebar_item">
                    <a href="uquiz">Update Quiz</a>
                    <p>Click here to update a Quiz</p>
                </div><!--close sidebar_item-->
            </div><!--close sidebar-->

            <div class="sidebar">
                <div class="sidebar_item">
                    <a href="vquiz">View All Quiz</a>
                    <p>Click here to view all Quizes</p>
                </div><!--close sidebar_item-->
            </div><!--close sidebar-->

        </div><!--close sidebar_container-->

        <div id="content">

            <div class="content_item">
                <div class="form_settings">

                    <h1>Update Quiz</h1>
                    <p>Please select the Id of the quiz to Update.</p><br />
                    <form action="/Admin/Updquiz" method="post">

                        <p>
                            <span>Id :</span>
                            <select name="update_dropdown" id="u_selector"></select>
                        </p>
                        <p><span>Question</span><textarea class="contact textarea" rows="8" cols="50" id="quest" name="question"></textarea> </p>
                        <p><span>Correct Option</span><input type="text" id="Copt" name="coption" /></p>
                        <p><span>Option B</span><input type="text" id="opt2" name="optionb" /></p>
                        <p><span>option C</span><input type="text" id="opt3" name="optionc" /></p>
                        <p><span>Option D</span><input type="text" id="opt4" name="optiond" /></p>
                        <p>
                            <span>Category</span><select name="cat_dropdown" , id="cat_dropdown">
                                <option>Math</option>
                                <option>History</option>
                                <option>Science</option>
                                <option>General Knowledge</option>
                            </select>
                        </p>
                        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="update_quiz" value="Update Quiz" /></p>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <br />
    <div id="footer">
        CopyRight Reserved | Website template by Syed Anees
    </div>

</body>
</html>