<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


  <div id="main">
	  
	<div id="menubar_container">	    
	  <div id="menubar">
	    
		
		
        <div id="menu_items">
	      <ul id="menu">
            <li class="current"><a href="/Home/index">Home</a></li>
            <li><a href="/Home/contact">Contact Us</a></li>
              <li><a href="/Home/login">Log-in</a></li>
              <li><a href="/Home/signup">Sign-Up</a></li>
          </ul>
        </div><!--close menu-->		
      
	  </div><!--close menubar-->		  
	</div><!--close menubar_container-->
	
	<div id="header_container">     		  
	  <div id="header"></div><!--close header-->				
	</div><!--close header_container-->	
	
	<div id="slogan_container">     		  
	  <div id="slogan">	  
	    <h2>Do you think you are intelligent??? Lets See !!!</h2>	  
	  </div><!--close slogan-->				
	</div><!--close slogan_container-->		
	
	<div id="site_content">		
	  <div class="sidebar_container">       
		
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>My Website</h2>
            <p>Welcome to my new website. Please have a look around, any feedback is much appreciated.</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		
		<div class="sidebar">
          <div class="sidebar_item">
            <h2>Latest Update</h2>
            <h3>June 2014</h3>
            <p>Views and Controllers are Updated.</p>         
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->

      </div><!--close sidebar_container-->			  
	 
	  <div id="content">
        
		<div class="content_item">
		  
		  <h1>Welcome To Your Website</h1> 
	      <p>This standards compliant, simple, fixed width website template is released as an 'open source' design (under the Creative Commons Attribution 3.0 Licence), which means that you are free to download and use it for anything you want (including modifying and amending it). If you wish to remove the &lsquo;ARaynorDesign&rsquo; link in the footer of the template, all I ask is for a donation of &pound;20.00 GBP.</p>	  
		  
		  <div class="content_images_text">
		  
		    <div class="content_image">
		      <img src="~/Images/content_image.jpg" alt="content image" />
		    </div>
		  
		    	

          </div>		  
	
		</div><!--close content_item-->
      
	  </div><!--close content--> 
	  
	</div><!--close site_content--> 
  
  </div><!--close main-->
