@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

    <div id="menubar_container">	    
	  <div id="menubar">
		
        <div id="menu_items">
	      <ul id="menu">
            <li><a href="index">Home</a></li>
            <li ><a href="quiz">Take Quiz</a></li>
              <li class="current"><a href="profile">Manage Profile</a></li>
              <li><a href="/Home/index">Log-out</a></li>
          </ul>
        </div><!--close menu_Items-->		
      
	  </div><!--close menubar-->		  
	</div><!--close menubar_container-->

    <div id="slogan_container">     		  
	  <div id="slogan">	  
	    <h2>Do you think you are intelligent??? Lets See !!!</h2>	  
	  </div><!--close slogan-->				
	</div><!--close slogan_container-->	

    <div id="site_content">		
	  <div class="sidebar_container">       
		
		<div class="sidebar">
          <div class="sidebar_item">
              <br /><a href="cpassword">Change Password</a><br />
              <p>You can change your current password</p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->     		
		
		<div class="sidebar">
          <div class="sidebar_item">
              <a href="uprofile">Update Profile</a><br />
              <p>You can update your personal Information</p>
		  </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
        <div class="sidebar">
            <div class="sidebar_item">
                <a href="vprofile">View Profile</a><br />
                <p>You can View your profile</p>
            </div><!--close sidebar_item-->
        </div><!--close sidebar-->


          </div>
        <div id="content">
        
		    <div class="content_item">
                <h1><b>Manage Profile</b></h1>
                <p>
                    You can
                </p><br />
                1-&nbsp;<a href="cpassword">Change Password</a><br />
                <p>You can change your current password</p><br />
                2-&nbsp;<a href="uprofile">Update Profile</a><br />
                <p>You can update your personal Information</p><br />
                3-&nbsp;<a href="vprofile">View Profile</a><br />
                <p>You can View your profile</p><br />
             </div>
          </div>
        </div>